[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
pymysql = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-extensions = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.13"
